:host ::ng-deep ng2-smart-table td  { 
    white-space: pre-wrap;
    word-wrap: break-word;  
}

.recentCheckBox{
    padding-bottom: 20px;
}

.searchBar{
    padding: 20px;
}

.searchButton {
    margin-left: 10px;
}
.failure-text {
    margin-top: 10px;
  }

