nb-checkbox {
    margin-bottom: 1rem;
  }
  
  .form-inline [fullWidth] {
    flex: 1;
  }
  
  .form-inline > * {
    margin: 0 1.5rem 1.5rem 0;
  }
  
  nb-card.inline-form-card nb-card-body {
    padding-bottom: 0;
  }

  .event-submit {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .add-sub-event{
      margin-top: 20px;
  }

  .alert-msg{
    padding:0
  }
  label.asterisk-required::after {
    content: " *";
    
  }
  .label {
    padding-bottom: 10px;
  }
  .form-group {
    padding-bottom: 10px;
  }

  :host ::ng-deep ng2-smart-table tr  { 
    white-space: pre-wrap;
    word-wrap: break-word;  
}

  .success-text {
    margin-top: 10px;
  }
@media only screen and (max-width: 768px) {
  ::ng-deep nb-dialog-container {
    /* Do you changes here */
    overflow-y: auto;
    max-width:  90vw;
    max-height: 70vh
  }
}
  


