<div class="row">
    <div class="col-md-12">
        <form [formGroup]="detailsList">
            <nb-card>
                <nb-card-header>{{stringsList.fieldLabels.headerEvent}}</nb-card-header>
                <nb-card-body>
                  <div class="row">
                      <div class="col-sm-12">
                          <div class="form-group">
                            <label for="inputFirstName" class="label asterisk-required">{{stringsList.fieldLabels.name}}</label>
                            <input type="text" nbInput formControlName="name" autocomplete="off" autocorrect="off" fullWidth id="inputEventName" placeholder="Event Name" [status]="detailsList.get('name').invalid && isSubmit ? 'danger' : ''">
                            <div *ngIf="detailsList.get('name').invalid && (detailsList.get('name').dirty || detailsList.get('name').touched || isSubmit)" class="alert-msg">
                              <small class="text-danger" *ngIf="detailsList.get('name').hasError('required')">
                                {{stringsList.errorMessages.name}}
                              </small>
                              <small class="text-danger" *ngIf="(detailsList.get('name').hasError('minlength') || detailsList.get('name').hasError('maxlength')) && isSubmit">
                                {{stringsList.errorMessages.nameLength}}
                              </small>
                            </div>
                          </div>
                          
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-6">
                          <div class="form-group">
                            <label for="inputLastName" class="label asterisk-required">{{stringsList.fieldLabels.dateFrom}}</label>
                            <input type="date" min="{{minDate}}" nbInput fullWidth autocomplete="off" autocorrect="off" formControlName="startDate" id="inputStartDate" placeholder="Event Start Date" [status]="detailsList.get('startDate').invalid && isSubmit ? 'danger' : ''">
                            <div *ngIf="detailsList.get('startDate').invalid && (detailsList.get('startDate').dirty || detailsList.get('startDate').touched || isSubmit)" class="alert-msg">
                              <small class="text-danger" *ngIf="detailsList.get('startDate').hasError('required')">
                                {{stringsList.errorMessages.dateFrom}}
                              </small>
                            </div>
                          </div>
                        </div>
                      <div class="col-sm-6">
                      <div class="form-group">
                          <label for="inputLastName" class="label asterisk-required">{{stringsList.fieldLabels.dateTo}}</label>
                          <input type="date" min="{{minDate}}" nbInput fullWidth autocomplete="off" autocorrect="off" formControlName="endDate" id="inputEndDate" placeholder="Event End Date" [status]="detailsList.get('endDate').invalid && isSubmit ? 'danger' : ''">
                          <div *ngIf="detailsList.get('endDate').invalid && (detailsList.get('endDate').dirty || detailsList.get('endDate').touched || isSubmit)" class="alert-msg">
                            <small class="text-danger" *ngIf="detailsList.get('endDate').hasError('required')">
                              {{stringsList.errorMessages.dateTo}}
                            </small>
                          </div>
                        </div>
                      </div>
                  </div>
                  
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="inputEmail" class="label asterisk-required">{{stringsList.fieldLabels.description}}</label>
                        <input type="text" nbInput fullWidth formControlName="description" autocomplete="off" autocorrect="off" id="inputDescription" placeholder="Event Description" [status]="detailsList.get('description').invalid && isSubmit ? 'danger' : ''">
                        <div *ngIf="detailsList.get('description').invalid && (detailsList.get('description').dirty || detailsList.get('description').touched || isSubmit)" class="alert-msg">
                          <small class="text-danger" *ngIf="detailsList.get('description').hasError('required') && isSubmit">
                            {{stringsList.errorMessages.description}}
                          </small>
                          <small class="text-danger" *ngIf="detailsList.get('description').hasError('minlength') && isSubmit">
                            {{stringsList.errorMessages.descriptionLength}}
                           </small>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="inputWebsite" class="label">{{stringsList.fieldLabels.time}}</label>
                        <input type="text" nbInput fullWidth formControlName="time" id="inputTiming" autocomplete="off" autocorrect="off" placeholder="Event Timing" status="">
                      </div>
                    </div>
                  </div>
                  <div class="text-center add-sub-event">
                      <button (click) = "addSubEvent()" nbButton>{{stringsList.buttons.addSubEvent}}</button>
                  </div>
                  <div *ngIf="subEvents.length > 0" class="row  add-sub-event">
                      <div class="col-sm-12">
                          <nb-card>
                              <nb-card-header>
                                SubEvents
                              </nb-card-header>
                              <nb-card-body>
                                <ng2-smart-table [settings]="settings" [source]="source">
                                </ng2-smart-table>
                              </nb-card-body>
                            </nb-card>
                      </div>
                      
                  </div>
                 
                </nb-card-body>
                <nb-card-footer>
                  <div class="text-center">
                      <button type="submit" (click) = "submitEventDetails()"nbButton>{{stringsList.buttons.submit}}</button>
                  </div>
                </nb-card-footer>
              </nb-card>
      
         </form>   
      </div>

      
</div>
<ng-template #contentTemplate let-data>
  <div class="text-center">
    <img src="/assets/img/success_final.png" width="40" height="40"/>
    <div>
      <p class="success-text">{{ data.text }}</p>
    </div>
    
  </div>
  
</ng-template>
